.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}

.bg-primary {
    background-color: #2C3E50;
}

.bg-light {
    background-color: #ecf0f1 ;
    color: black;
}
